apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "hytale-server.name" . }}-config
  labels: {{- include "hytale-server.labels" . | nindent 4 }}
data:
  {{- range $key, $value := .Values.hytaleConfig }}
  {{- if ne $key "MAX_MEMORY" }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
  {{- /* Logic for MAX_MEMORY: Use hytaleConfig override OR (limits.memory - 1) */ -}}
  {{- $limitInt := .Values.resources.limits.memory | toString | replace "Gi" "" | replace "G" "" | int }}
  MAX_MEMORY: {{ .Values.hytaleConfig.MAX_MEMORY | default (printf "%dG" (sub $limitInt 1)) | quote }}
  DEFAULT_PORT: {{ .Values.service.port | quote }}
